version: 2.1
orbs:
  orb-tools: circleci/orb-tools@11.6.1

workflows:
  test-deploy:
    jobs:
      - orb-tools/lint:
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          filters:
            tags:
              only: /.*/
      - orb-tools/publish:
          orb-name: nexbus/aws-lambda-go
          vcs-type: <<pipeline.project.type>>
          pub-type: production
          requires:
            [orb-tools/lint, orb-tools/pack]
          context: orb-publishing
          enable-pr-comment: false
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
